html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-flow: row wrap;
	flex: 1 1 auto; */

}

.container {
	max-width: 75em;
	width: 90%;
	margin:none;
	justify-content: center;
	align-items: center;
	flex-flow:row wrap;
	/* flex: 1 1 auto;
	border: 1px solid #eee; */
}

h1,
h2,
h3 {

	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size:1.875em ;

}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.25rem;
    /* padding: 1.875em; */
}
ul {
	margin: 0;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: : center;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
	border-bottom: 0.188em solid #77a466;
	/* margin:0 auto; */
	width: 100%;
}

header h1 {
	/* justify-content: center;
	align-items: center;
	text-align: center; */
	border-bottom:  0.188em solid #77a466;
	margin: 0;
	padding: 2.375em 0;
	width: 100%;
}
header h1 span {
	color: #77a466;

}

header nav {

	padding: 2.875em 1.25em
	/* border-top: 3px solid #77a466; */
	width: 100%;
}
header nav ul {
	/* display: flex;
	justify-content: space-around;
	flex-flow: row wrap; */
	margin: 0;
	padding: 0;

}
header nav ul li {
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.625em 0 ;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* text-align: center; */
	/* flex-flow:column; */
}
header nav ul li a{

	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 0 auto;
	flex-flow: row wrap;
}
.main-image {
	/* display: flex;
	justify-content: center; */
	/* text-align: center; */
	/* align-items: center; */
	/* flex-flow: row wrap; */


}
.main-image img {

	width: 100%;
	border-bottom: 0.187em solid #77a466;
}

.main-title {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-flow:column nowrap; */
height: 100%

}
.main-title h2 {

	text-align: left;
	padding: 0.312em 0;
	color: #77a466;
}
.main-title p {

	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;

}

/****Today's specials, Our Awesome Reviews, contact - C5; THESE SECTIONS ARE WORKING WITHOUT ANY FLEX SETTINGS LISTED HERE**/
.section-one,
.section-two,
.section-three {
	width: 33%;
	border-top: 0.062em solid #eee;
 /* height: auto; */
 /* display: flex;
 justify-content: flex-start;
	align-items: flex-start;
}

.section-one h3 {
	padding:0.625em  1.875em;
}

.section-two {
	padding: 0 0.063em;
	line-height: 0.063em;
	/* border-top: 0.063em solid #eee; */
	/* border-bottom: 0.063em solid #eee; */
}

.section-two h3,
.section-three h3 {
	padding: 0.625em 1.875em;
}

.menu {
	list-style: none;
	 padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em


}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-flow: row wrap; */
	text-align: center;
	/* flex: 1 1 auto; */
	border-top: 0.187em solid #eee;
	width: 100%;
	/* margin: 0 auto; */

}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */

		.bottom-section {
			/* display: flex; */
			/* width: 100%; */
			flex-flow: row wrap;
			justify-content: space-between;
			align-items:flex-start;
			border-top: 0.062em solid #eee;
		}
		.section-one,
		.section-two,
		.section-three {
				border-top: none;
        flex-basis: 30%;
		}
		.section-two {
			border-left:  0.063em solid #eee;
			border-right:  0.063em solid #eee;
			padding:0 1.25em;
		}
}


@media all and (min-width:1200px) {
    /* Desktop styles here */
			header {
			justify-content: row wrap;
			align-items: center;
		}
		header h1 {
		width: 33% ;
		padding: 0;
		border-bottom: none;
		text-align:left;
		}
		header nav {
		width: 40%;
		}
		header nav ul {
		        display: flex;
		        justify-content: space-between;
		    }

}
